.headerBG {
    background-color:#202141;
    color:#fff;
}
.searchBG {
    background-color:#D3D3D3;
}
.submitBG {
    background-color:#202141; 
    color:white;
}
.bodyBG {
    background-color:white;
}
.parentBG {
    background-color:#202141; 
    color:white;
}
.childBG {
    background-color:#FC585B; 
    color:#FFF;
    font-weight: bold;
}
.iconDark {
    color: #202141;
}
.greyBG {
    background-color: #f7f7f7;
}
ul {
    position: relative
}
li {
    list-style: none;
}
svg{
    z-index: 1;
}
.popover-header {
    text-align: center;
}